<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation>
			<assemblies>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation></system.web>
	  <connectionStrings>
		<!-- Connection String for SQL Server 2005/2008 Express -->
		<add name="SiteSqlServer1" connectionString="Data Source=tssdh.db.6712057.hostedresource.com; Initial Catalog=tssdh; User ID=tssdh; Password='p@Ss**w0Rd**';" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Table" value="NguoiDung,GiamSat,TuyenSinh,MonThi,Nganh,CumThi,NgoaiNgu,GiayTo,UuTien,HoSo,SYLL,LLNN,DH_CH,BaiBao,CTNC,HTLV,HS_GT,PhongThi,DanhSachThi,PhucKhao"/>
	</appSettings>
</configuration>
