<div class="FeaturedProduct-Entity">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="FeaturedProduct-Image">[IMAGE::BorderWidth=0::AlternateText=Product Image]</td>
            <td class="FeaturedProduct-Right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="FeaturedProduct-Price">[PRICE][EDIT]</td>
                </tr>
                <tr>
                  <td  class="FeaturedProduct-AddToCart">[ADDTOCARTIMG]</td>
                </tr>
                <tr>
                  <td class="FeaturedProduct-LinkDetail">[LINKDETAIL][LINKDETAILIMG]</td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td class="FeaturedProduct-Title">[MODELNAME]</td>
    </tr>
    <tr>
      <td class="FeaturedProduct-Summary">[SUMMARY]</td>
    </tr>
  </table>
</div>
