
<table height="100%" border="0" cellpadding="3" cellspacing="0" class="newProductTable_Small">
  <tr>
    <td height="10" colspan="2" align="center" valign="top"><div align="left"><span class="SubHead">[EDIT][TITLE]</span></div></td>
  </tr>
  <tr>
    <td align="left" valign="top">[IMAGE::BorderWidth=1::AlternateText=Product Image]</td>
    <td width="100%" height="100%" align="left" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="100%" colspan="2" valign="top"><span class="Normal">[SUMMARY]</span></td>
        </tr>
        <tr>
          <td height="100%" valign="bottom"><br />
            <strong>[VATPRICE]</strong> <br />
            [PRICE]</strong></td>
        </tr>
        <tr>
          <td height="100%" valign="bottom"><div align="center"><strong><br />
              [PURCHASE]</div></td>
        </tr>
      </table></td>
  </tr>
</table>
