<div class="NewProduct-Entity">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="NewProduct-Title">[MODELNAME]</td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="NewProduct-Image">[IMAGE::BorderWidth=0::AlternateText=Product Image]</td>
            <td class="NewProduct-Summary">[SUMMARY]</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="NewProduct-Price">[PRICE][EDIT]</td>
            <td class="NewProduct-AddToCart">[ADDTOCART]</td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td class="NewProduct-LinkDetail">[LINKDETAIL][LINKDETAILIMG]</td>
    </tr>
  </table>
</div>
