<div class="ProductDetail-Entity">
  <div class="ProductDetail-Title">[EDIT][MODELNAME]</div>
  <div class="ProductDetail-Top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="ProductDetail-Image">[IMAGE::BorderWidth=0::AlternateText=Product Image]</td>
              <td class="ProductDetail-Right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="ProductDetail-Price">[PRICE]</td>
                  </tr>
                  <tr>
                    <td class="ProductDetail-VATPrice">[VATPRICE]</td>
                  </tr>
                  <tr>
                    <td  class="ProductDetail-AddToCart">[ADDTOCARTIMG]</td>
                  </tr>
                  <tr>
                    <td class="ProductDetail-AddToCart">[PURCHASEIMG]</td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
    </table>
  </div>
  <div class="ProductDetail-Bottom">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="ProductDetail-Summary">[DESCRIPTION]</td>
      </tr>
    </table>
  </div>
</div>
