<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>317358cd-be31-4a77-9251-5038c0a6c5bd</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>317358cd-be31-4a77-9251-5038c0a6c5bd</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>317358cd-be31-4a77-9251-5038c0a6c5bd</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>03AC716433B7482561532587C22513C9</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
